.menu-container{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 5rem 5rem;
	max-width: 64rem;
	margin: 0 auto;
	margin-bottom: 1rem;
	justify-content: center;
	grid-gap: 2px;
}

.menu-item {
	display: flex;
	align-self: stretch;
	text-align: center;
	background-color: #FFF3BD;
	align-items: center;
	justify-content: space-around;
	font-family: 'Open Sans', sans-serif;
}

.menu-item-escolhido {
	display: flex;
	align-self: stretch;
	text-align: center;
	background-color: #FFD566;
	font-weight: 900;
	align-items: center;
	justify-content: space-around;
	font-family: 'Open Sans', sans-serif;
}

.menu-text{

}

.menu-item:hover{
	font-weight: 900;
	background-color: #FFD566;
	transition: background-color 1s;
}

.list1{
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
}

.list2{
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
}

.list3{
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
}

.list4{
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
}

.list-item{
	margin-bottom: 1.5rem;
	margin-left: 0.5rem;
	list-style: none;

}

.hidden{
	display: none;
}

input[type=number] {
	padding: 5px 10px;
	margin: 5px 0;
	box-sizing: border-box;
	border: 3px solid #ccc;
	border-radius: 4px;
  	-webkit-transition: 0.3s;
  	transition: 0.3s;
  	outline: none;
}

input[type=number]:focus {
  border: 3px solid #555;
}

