body{
	background-color: #FFF3BD
}

.container{
	display: flex;
	position: fixed;
	justify-content: space-between;
	flex-direction: column;
	left: 2rem;
	right: 2rem;
	top: 2rem;
	bottom: 2rem;
}

.restaurante{
	display: flex;
	align-self: center;
	font-family: 'Roboto Slab', serif;
	font-size: 3rem;
	font-weight: 800;
}

.mesa{
	display: flex;
	align-self: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
}

.avancar{
	display: flex;
	justify-content: flex-end;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3rem;
	background-color: inherit;
	border: none;
}